---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Zakaria MOKRAM" description="About Zakaria MOKRAM">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/Picwithstaff.jpeg"
					alt="Zakaria Mokram with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						As a recent graduate in computer engineering from the Moroccan School of Engineering Sciences (EMSI) in Rabat,
						 I am driven by a passion for technology, innovation, and building impactful digital solutions. With expertise in
						 <b style="color: var(--accent-regular); font-weight: 700;">Java,
							Angular, Thymeleaf, React, and DevOps,</b>  and solid experience in 
							<b style="color: var(--accent-regular); font-weight: 700;">Oracle</b>and
							<b style="color: var(--accent-regular); font-weight: 700;">SQL Server database administration</b>,
						   I bring strong
						   <b style="color: var(--accent-regular); font-weight: 700;">front-end</b>  and 
						   <b style="color: var(--accent-regular); font-weight: 700;">back-end</b> skills,
						 especially in 
						 <b style="color: var(--accent-regular); font-weight: 700;">Agile</b> environments.
					</p>
					<p>
						Recognized for my dedication, adaptability, and analytical mindset,
						 I aim to tackle technical challenges efficiently to ensure seamless functionality behind the scenes. 
						 A curious and committed learner, especially in data science, I’m always seeking to improve and deliver robust,
						 scalable solutions that meet project needs.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<div class="education-item">
						<span class="year-range">2021 - 2024</span>
						<div>
							<p><strong>Engineering Degree in Computer Science and Network</strong></p>
               				<p>Rabat - Moroccan School of Engineering Sciences (EMSI)</p>
						</div>
					</div>
					<div class="education-item">
						<span class="year-range">2018 - 2020</span>
						<div>
							<p><strong>Advanced Technician Diploma in Computer Development Techniques</strong></p>
                			<p>OFPPT - Specialized Institute of Applied Technology NTIC</p>
						</div>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Digital Skills</h2>
				<div class="contentskl">
					<p><strong>Front-End:</strong> ReactJS, Angular, Bootstrap, TailwindCSS</p>
					<p><strong>Back-End:</strong> Node.js, PHP/Laravel, Java/Sping boot, C#/ASP.NET</p>
					<p><strong>Databases:</strong><b style="color: var(--accent-regular); font-weight: 700;"> SQL</b> : MySQL, SQL Server, Oracle/<b style="color: var(--accent-regular); font-weight: 700;"> NoSQL </b>: Mongodb, MariaDB</p>
					<p><strong>Design/Modeling:</strong> UML, MERISE</p>
					<p><strong>Other Tools:</strong> Git, Docker, AWS, GitHub</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.education-item {
        display: flex;
		align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
		line-height: 1.5;
    }

    .year-range {
        font-weight: bold;
        background-color: #7611a6; /* Customize the background color as needed */
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        min-width: 80px;
        text-align: center;
    }

    .content p {
        margin: 0;
    }

	.contentskl p {
        margin: 0.5rem 0;
    }

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
		text-align: justify;
		font-size: var(--text-lg);
        color: var(--gray-200);
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
